---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <style>
      h1 {
        @apply text-8xl text-transparent bg-gradient-to-tr bg-clip-text from-purple-600 to-indigo-500 w-fit;
      }

      p {
        @apply text-2xl text-white w-fit;
      }

      h2 {
        @apply text-4xl text-transparent bg-gradient-to-r bg-clip-text from-cyan-400 to-sky-600 w-fit;
      }

      h1,
      h2,
      p {
        @apply font-bold;
        filter: drop-shadow(2px 5px 0.3rem rgba(0, 0, 0, 0.5));
      }

      main {
        background-size: 100% 2000%;
		animation: animateBackground 10s ease-in-out infinite;
        @apply grid place-items-center h-screen;
        @apply bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-violet-950 via-gray-900 to-black;
      }

      .wrapper {
        @apply flex flex-col items-center justify-center space-y-4;
        @apply py-12 px-24 rounded-box bg-slate-700 drop-shadow cursor-default;
      }

      @keyframes animateBackground {
        0%,
        100% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <h1>Astro</h1>
        <p>and</p>
        <h2>TailwindCSS</h2>
      </div>
    </main>
  </body>
</html>
